# Dados sensíveis
.env
dados_analise.csv
atestmed.db
lista*
.zip

# Pastas de resultados

/testing/**

/debug_logs/**

/reports/outputs/**
!/reports/outputs/.gitkeep

/graphs_and_tables/exports/**
!/graphs_and_tables/exports/.gitkeep

# Pastas de db
/db/**
!/db/.gitkeep

/exports/**
!/exports/.gitkeep

# Dejetos

.Rhistory
.Rdata

/logs/**
!/logs/.gitkeep

/debug_logs/**
!/debug_logs/.gitkeep

# Ignora todos os CSVs brutos
/data/raw/*.csv
!/data/raw/.gitkeep
